* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


.content {
    flex: 1;
    padding: 20px;
    text-align: center;
}


.footer {
    background-color: #080909;
    color: #fff;
    padding: 10px 10px;
    text-align: center;
}


.footer-nav {
    margin-bottom: 15px;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-social {
    margin-bottom: 5px;
}

.footer-social a {
    margin: 0 10px;
    display: inline-block;
}

.footer-social img {
    width: 24px;
    height: 24px;
}

.footer-copy {
    font-size: 12px;
    color: #ccc;
}